<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link media="all" rel="stylesheet" th:href="@{/css/edit.css}" type="text/css"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Информация о переводе</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transfer : ${history}">
        <td th:if="${transfer.fromAccountNumber == nameNumber}" th:class="${transfer.fromAccountNumber} ? 'sender' : ''" th:text="'Кому ' + ${transfer.toAccountNumber} + '    сколько -' + ${transfer.amount}"></td>
        <td th:if="${transfer.toAccountNumber == nameNumber}" th:class="${transfer.toAccountNumber} ? 'recipient' : ''" th:text="'От ' + ${transfer.fromAccountNumber} + '    сколько +' + ${transfer.amount}"></td>
    </tr>
    </tbody>
</table>
<a href="/profile_account">Назад</a>
</body>
</html>